//-
   _style: 样式文件

div(class=_style.wrapper)
  .swiper-slide(class=_style.slide + " " + _style.slide0 data-hash="slide0")
  .swiper-slide(class=_style.slide + " " + _style.slide1 data-hash="slide1")
  .swiper-slide(class=_style.slide + " " + _style.slide2 data-hash="slide2")
  .swiper-slide(class=_style.slide + " " + _style.slide3 data-hash="slide3")
  .swiper-slide(class=_style.slide + " " + _style.slide4 data-hash="slide4")
  .swiper-slide(class=_style.slide + " " + _style.slide5 data-hash="slide5") Page 6
.swiper-pagination(class=_style.pagination)