//-
   _style: 样式文件

div(class=_style.wrapper)
  .swiper-slide(class=_style.slide + " " + _style.slide1 data-hash="page1")
  .swiper-slide(class=_style.slide + " " + _style.slide2 data-hash="page2")
  .swiper-slide(class=_style.slide + " " + _style.slide3 data-hash="page3")
  .swiper-slide(class=_style.slide + " " + _style.slide4 data-hash="page4")
  .swiper-slide(class=_style.slide + " " + _style.slide5 data-hash="page5") Page 5
  .swiper-slide(class=_style.slide + " " + _style.slide6 data-hash="page6") Page 6
.swiper-pagination(class=_style.pagination)