//-
   _style: 样式文件

div(class=_style.wrapper)
  section.swiper-slide(class=_style.slide, data-hash="slide0")
  section.swiper-slide(class=_style.slide, data-hash="slide1")
  section.swiper-slide(class=_style.slide, data-hash="slide2")
  section.swiper-slide(class=_style.slide, data-hash="slide3")
  section.swiper-slide(class=_style.slide, data-hash="slide4")
  section.swiper-slide(class=_style.slide, data-hash="slide5")
.swiper-pagination(class=_style.pagination)