//-
   _style: 样式文件

h2(class=_style.title) 图片上传组件

div(class=_style.btnsWrapper)
  a(class=_style.chooseBtn href="javascript:;")
    | 选择图片
    input(class=_style.chooseInput type="file" accept="image/*")

  a(class=_style.uploadBtn href="javascript:;") 开始上传

div
  div(class=_style.showBox)
  div(class=_style.showInfo)
