//-
   _style: 样式文件

h2(class=_style.title) Image upload controls

div(class=_style.btnsWrapper)
  a(class=_style.chooseBtn href="javascript:;")
    | Select
    input(class=_style.chooseInput type="file" accept="image/*")

  a(class=_style.uploadBtn href="javascript:;") Upload

div
  div(class=_style.showBox)
  div(class=_style.showInfo)
