//-
   _style: 样式文件
   videoMp4: mp4视频文件

div(class=_style.videoWrapper)
div(class=_style.videoChooseWrap)
  a(class=_style.videoChoose href="javascript:;") Video1
  a(class=_style.videoChoose href="javascript:;") Video2
dl(class=_style.explicationWrap)
  dt(class=_style.explicationTitle) H5 Canvas Video Introduce:
  dd(class=_style.explicationList)
    | The player is based on &nbsp;
    a(href="https://github.com/phoboslab/jsmpeg") jsmpeg
    | .(
    a(href="https://github.com/cycjimmy/h5-webpack-starter/tree/master/app/share/jsmpeg") my source
    | )
  dd(class=_style.explicationList) The video must be compressed into the TS format of MPEG1 / MP2.
  dd(class=_style.explicationList) Apple device automatically plays without sound, you need to guide the user to click on the video in the lower right corner of the video icon to unlock the sound.(no similar problem in non-autoplay mode)
