//-
   _style:
   commonStyle:

h2(class=_style.title,
  data-swiper-animation="animate__fadeIn",
  data-duration=".8s",
  data-delay=".3s") Based On

ul(class=commonStyle.pointsWrapper + " " + _style.points)
  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay=".7s")
    | Swiper
    a(href="https://github.com/nolimits4web/Swiper", class=commonStyle.link)

  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay=".8s")
    | H5 Pages
    span(class=commonStyle.icon + " " + _style.iconCore)
    a(href="https://github.com/cycjimmy/h5-pages", class=commonStyle.link)

  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay=".9s")
    | H5 Preloader
    a(href="https://github.com/cycjimmy/h5-preloader", class=commonStyle.link)

  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay="1s")
    | Swiper Animation
    a(href="https://github.com/cycjimmy/swiper-animation", class=commonStyle.link)

  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay="1.1s")
    | Animate.css
    a(href="https://github.com/daneden/animate.css", class=commonStyle.link)

  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay="1.2s")
    | Fastclick
    a(href="https://github.com/ftlabs/fastclick", class=commonStyle.link)

