doctype html
html(lang='en')
  head
    include includes/meta.pug
    title H5 Webpack Starter
    base(href="./")

    //- icon
    link(rel="shortcut icon", href=require('../favicon.ico'))

    //- bugMonitor
    include includes/bugMonitor

    //- vconsole
      include includes/vconsole

    //- webpack style
    each _style,index in htmlWebpackPlugin.files.css
      if index === 0
        link(href=_style, rel="stylesheet")

  body
    .swiper-container.main-screen

    //- styles and scripts
    span(style="display:none;")
      //- webpack loading js
      each _js,index in htmlWebpackPlugin.files.js
        if index === 0
          script(src=_js)

      //- styles
      //------------------------------------
      //- webpack style
      each _style,index in htmlWebpackPlugin.files.css
        if index !== 0
          link(href=_style, rel="stylesheet")

      //- animate css
      link(href="https://cdn.jsdelivr.net/npm/animate.css@3/animate.min.css", rel="stylesheet")

      //- swiper global style
      link(href="https://cdn.jsdelivr.net/npm/swiper@4/dist/css/swiper.min.css", rel="stylesheet")

      //- videoJs global style
        link(href="https://cdn.jsdelivr.net/npm/video.js@6/dist/video-js.min.css", rel="stylesheet")

      //- scripts
      //------------------------------------
      //- weixin share
        script(src="https://cdn.jsdelivr.net/npm/weixin-share@1/build/WxShare.min.js")

      //- fastclick
      script(src="https://cdn.jsdelivr.net/npm/fastclick@1/lib/fastclick.min.js")

      //- swiper
      script(src="https://cdn.jsdelivr.net/npm/swiper@4/dist/js/swiper.min.js")

      //- hammer
        script(src="https://cdn.jsdelivr.net/npm/hammerjs@2/hammer.min.js")

      //- H5AudioControls
      script(src="https://cdn.jsdelivr.net/npm/h5-audio-controls@1/build/H5AudioControls.min.js")

      //- three.js
      script(src="https://cdn.jsdelivr.net/npm/three@latest/build/three.min.js")

      //- JSMpeg.js
      script(src="https://cdn.jsdelivr.net/npm/jsmpeg-player@2/build/JSMpeg.min.js")

      //- video.js
        script(src="https://cdn.jsdelivr.net/npm/video.js@6/dist/video.min.js")

      //- H5VideoPlayer
      script(src="https://cdn.jsdelivr.net/npm/h5-video-player@1/build/H5VideoPlayer.min.js")

      //- webpack main script
      each _js,index in htmlWebpackPlugin.files.js
        if index !== 0
          script(src=_js)

