doctype html
html(lang='en')
  head
    include includes/meta.pug
    title H5 Webpack Starter

    //- icon
    link(rel="shortcut icon", href=require("../favicon.ico").default)

    //- bugMonitor
      include includes/bugMonitor

    //- vconsole
      include includes/vconsole

    //- webpack style
    each _style, index in htmlWebpackPlugin.files.css
      if index === 0
        link(href=_style, rel="stylesheet")

  body
    //- styles and scripts
    span(style="display:none;")
      //- webpack runtime.js and load.js
      each _js, index in htmlWebpackPlugin.files.js
        if index <= 1
          script(src=_js)

      //- styles
      //------------------------------------
      //- webpack style
      each _style, index in htmlWebpackPlugin.files.css
        if index !== 0
          link(href=_style, rel="stylesheet")

      //- animate css
      link(href="https://cdn.jsdelivr.net/npm/animate.css@4/animate.min.css", rel="stylesheet")

      //- swiper global style
      link(href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css", rel="stylesheet")

      //- scripts
      //------------------------------------

      //- fastclick
      script(src="https://cdn.jsdelivr.net/npm/fastclick@1/lib/fastclick.min.js")

      //- swiper
      script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")

      //- webpack main script
      each _js, index in htmlWebpackPlugin.files.js
        if index > 1
          script(src=_js)

