doctype html
html(lang='en')
  head
    include includes/meta.pug
    title H5 Webpack Starter
    base(href="./")

    //- icon
    link(rel="shortcut icon", href=require('../favicon.ico'))

    //- webpack style
    each _style,index in htmlWebpackPlugin.files.css
      if index === 0
        link(href=_style, rel="stylesheet")

  body
    .swiper-container.main-screen

    //- styles and scripts
    span(style="display:none;")
      //- webpack loading js
      each _js,index in htmlWebpackPlugin.files.js
        if index === 0
          script(src=_js)

      //- styles
      //------------------------------------
      //- webpack style
      each _style,index in htmlWebpackPlugin.files.css
        if index !== 0
          link(href=_style, rel="stylesheet")
      //- animate css
      link(href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css", rel="stylesheet")
      //- swiper global style
      link(href="//cdn.bootcss.com/Swiper/4.1.0/css/swiper.min.css", rel="stylesheet")
      //- videoJs global style
        link(href="//cdn.bootcss.com/video.js/6.7.1/video-js.min.css", rel="stylesheet")


      //- scripts
      //------------------------------------
      //- fastclick
      script(src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js")

      //- swiper
      script(src="//cdn.bootcss.com/Swiper/4.1.0/js/swiper.min.js ")

      //- hammer
        script(src="//cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js")

      //- three.js
      script(src="//cdn.bootcss.com/three.js/89/three.min.js")

      //- video.js
        script(src="//cdn.bootcss.com/video.js/6.7.1/video.min.js")

      //- webpack main script
      each _js,index in htmlWebpackPlugin.files.js
        if index !== 0
          script(src=_js)

