doctype html
html(lang='en')
  head
    include includes/meta.pug
    title H5 Webpack Starter

    //- icon
    link(rel="shortcut icon", href=require('../favicon.ico').default)

    //- bugMonitor
    include includes/bugMonitor

    //- vconsole
      include includes/vconsole

    //- webpack style
    each _style,index in htmlWebpackPlugin.files.css
      if index === 0
        link(href=_style, rel="stylesheet")

  body
    //- styles and scripts
    span(style="display:none;")
      //- webpack loading js
      each _js,index in htmlWebpackPlugin.files.js
        if index === 0
          script(src=_js)

      //- styles
      //------------------------------------
      //- webpack style
      each _style,index in htmlWebpackPlugin.files.css
        if index !== 0
          link(href=_style, rel="stylesheet")

      //- animate css
      link(href="https://cdn.jsdelivr.net/npm/animate.css@3/animate.min.css", rel="stylesheet")

      //- swiper global style
      link(href="https://cdn.jsdelivr.net/npm/swiper@5/css/swiper.min.css", rel="stylesheet")

      //- videoJs global style
        link(href="https://cdn.jsdelivr.net/npm/video.js@6/dist/video-js.min.css", rel="stylesheet")

      //- scripts
      //------------------------------------

      //- fastclick
      script(src="https://cdn.jsdelivr.net/npm/fastclick@1/lib/fastclick.min.js")

      //- swiper
      script(src="https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js")

      //- hammer
        script(src="https://cdn.jsdelivr.net/npm/hammerjs@2/hammer.min.js")

      //- three.js
      script(src="https://cdn.jsdelivr.net/npm/three@latest/build/three.min.js")

      //- jsmpeg-player
      script(src="https://cdn.jsdelivr.net/npm/@cycjimmy/jsmpeg-player@4/build/jsmpeg-player.min.js")

      //- video.js
        script(src="https://cdn.jsdelivr.net/npm/video.js@6/dist/video.min.js")

      //- h5-video-player
      script(src="https://cdn.jsdelivr.net/npm/@cycjimmy/h5-video-player@2/build/h5-video-player.min.js")

      //- webpack main script
      each _js,index in htmlWebpackPlugin.files.js
        if index !== 0
          script(src=_js)

