//-
   _style:

h2(class=_style.title,
  data-swiper-animation="animate__fadeIn",
  data-duration=".8s",
  data-delay=".2s") Popup Demo
a(class=_style.popupBtn,
  href="javascript:",
  data-swiper-animation="animate__fadeInUp",
  data-duration=".7s",
  data-delay=".5s") Trigger Popup
