//-
   _style:

section(class=_style.logoWrap,
  data-swiper-animation="animate__fadeIn",
  data-duration=".8s",
  data-delay=".3s")
  div(class=_style.logo)
    div(class=_style.logoImg)
h1(class=_style.title,
  data-swiper-animation="animate__fadeInUp",
  data-duration=".5s",
  data-delay=".8s") H5 Webpack Starter
a(class=_style.gotoGithub,
  href="https://github.com/cycjimmy/h5-webpack-starter",
  data-swiper-animation="animate__fadeInUp",
  data-duration="0.7s",
  data-delay="1s") View on Github
