//-
   _style: 样式文件

section(class=_style.logoWrap,
  data-swiper-animation="fadeInUp",
  data-duration="0.5s",
  data-delay=".3s")
  div(class=_style.logo)
    div(class=_style.logoImg)
h1(class=_style.title,
  data-swiper-animation="fadeInUp",
  data-duration="0.5s",
  data-delay=".5s") H5 Webpack Starter
a(class=_style.gotoGithub,
  href="https://github.com/cycjimmy/h5-webpack-starter",
  data-swiper-animation="fadeInUp",
  data-duration="0.7s",
  data-delay=".8s") View on Github
