//-
   _style: 样式文件

h2(class=_style.title,
  data-swiper-animation="fadeInUp",
  data-duration=".5s",
  data-delay=".2s") WebGL

div(class=_style.container,
  data-swiper-animation="fadeInUp",
  data-duration=".5s",
  data-delay=".4s")
