//-
   _style:
   commonStyle:

h2(class=_style.title,
  data-swiper-animation="animate__fadeIn",
  data-duration=".8s",
  data-delay=".3s") Other Recommended

ul(class=commonStyle.pointsWrapper + " " + _style.points)
  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay=".7s")
    | H5 Audio Controls
    a(href="https://github.com/cycjimmy/h5-audio-controls", class=commonStyle.link)

  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay=".8s")
    | JSMpeg Player
    a(href="https://github.com/cycjimmy/jsmpeg-player", class=commonStyle.link)

  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay=".9s")
    | H5 Video Player
    a(href="https://github.com/cycjimmy/h5-video-player", class=commonStyle.link)

  li(data-swiper-animation="animate__fadeInUp",
    data-duration=".5s",
    data-delay="1s")
    | Weixin Share
    a(href="https://github.com/cycjimmy/weixin-share", class=commonStyle.link)

