//-
   _style: 样式

img(class=_style.loadingPic, src=require('../../static/images/loading.svg'))
div(class=_style.loadingProgressWrapper)
  div(class=_style.loadingProgressbarWrapper)
    div(class=_style.loadingProgressbar)
div(class=_style.loadingText)
  span(class=_style.loadingTextPercent) 0
  | %