//-
   _style: 样式文件

h2.ani(class=_style.title, swiper-animate-effect="fadeInUp", swiper-animate-duration="0.5s", swiper-animate-delay=".2s") Image upload controls

.ani(class=_style.btnsWrapper, swiper-animate-effect="fadeInUp", swiper-animate-duration="0.5s", swiper-animate-delay=".5s")
  a(class=_style.chooseBtn href="javascript:;")
    | Select
    input(class=_style.chooseInput type="file" accept="image/*")

  a(class=_style.uploadBtn href="javascript:;") Upload

.ani(swiper-animate-effect="fadeInUp", swiper-animate-duration="0.5s", swiper-animate-delay=".6s")
  div(class=_style.showBox)
  div(class=_style.showInfo)
