//-
   _style:

h2(class=_style.title,
  data-swiper-animation="animate__fadeIn",
  data-duration=".8s",
  data-delay=".2s") Nested Swiper Demo
.swiper-container(class=_style.container,
  data-swiper-animation="animate__fadeInUp",
  data-duration=".5s",
  data-delay=".7s")
  .swiper-wrapper
    .swiper-slide(class=_style.content1) Content 1
    .swiper-slide(class=_style.content2) Content 2
    .swiper-slide(class=_style.content3) Content 3
    .swiper-slide(class=_style.content4) Content 4
  .swiper-pagination(class=_style.pagination)
