//-
   _style: 样式文件
   logoSvg: logo图片

div(class=_style.logo)
  img(class=_style.logoImg src=logoSvg)
h1(class=_style.title) H5 Webpack Starter
a(class=_style.gotoGithub, href="https://github.com/cycjimmy/h5-webpack-starter") View on Github
