//-
   _style: 样式文件

h2.ani(class=_style.title, swiper-animate-effect="fadeInUp", swiper-animate-duration="0.5s", swiper-animate-delay=".2s") Page 2
.swiper-container.ani(class=_style.container, swiper-animate-effect="fadeInUp", swiper-animate-duration="0.5s", swiper-animate-delay=".3s")
  .swiper-wrapper
    .swiper-slide(class=_style.content1) Content 1
    .swiper-slide(class=_style.content2) Content 2
    .swiper-slide(class=_style.content3) Content 3
    .swiper-slide(class=_style.content4) Content 4
  .swiper-pagination(class=_style.pagination)
