//-
   _style: 样式文件

div(class=_style.title,
  data-swiper-animation="fadeInUp",
  data-duration=".5s",
  data-delay=".3s") H5 Video Player
div(class=_style.explication,
  data-swiper-animation="fadeInUp",
  data-duration=".5s",
  data-delay=".7s") Full screen H5 video player
div(class=_style.btnsWrapper,
  data-swiper-animation="fadeInUp",
  data-duration=".5s",
  data-delay="1.1s")
  a(class=_style.playBtn, href="javascript:;") PLAY
  a(class=_style.codeBtn, href="https://github.com/cycjimmy/h5-video-player") CODE
