//-
   _style: 样式文件
   logoSvg: logo图片

.ani(class=_style.title, swiper-animate-effect="fadeInUp", swiper-animate-duration=".5s", swiper-animate-delay=".3s") H5 Video Player
.ani(class=_style.explication, swiper-animate-effect="fadeInUp", swiper-animate-duration=".5s", swiper-animate-delay=".7s") Full screen H5 video player
.ani(class=_style.btnsWrapper, swiper-animate-effect="fadeInUp", swiper-animate-duration=".5s", swiper-animate-delay="1.1s")
  a(class=_style.playBtn, href="javascript:;") PLAY
  a(class=_style.codeBtn, href="https://github.com/cycjimmy/h5-video-player") CODE