//-
   _style:
   commonStyle:

h2(class=_style.title,
  data-swiper-animation="fadeIn",
  data-duration=".8s",
  data-delay=".3s") Features

ol(class=commonStyle.pointsWrapper + " " + _style.points)
  li(data-swiper-animation="fadeInUp",
    data-duration=".5s",
    data-delay=".7s") Easily build H5 pages.
  li(data-swiper-animation="fadeInUp",
    data-duration=".5s",
    data-delay=".8s") Perfect for loading service.
  li(data-swiper-animation="fadeInUp",
    data-duration=".5s",
    data-delay=".9s") Easily run animation.
  li(data-swiper-animation="fadeInUp",
    data-duration=".5s",
    data-delay="1s") Install components according to your needs.

