//-
   _style:
   imgLoading:

img(class=_style.loadingPic, src=imgLoading)
div(class=_style.loadingProgressWrapper)
  div(class=_style.loadingProgressbarWrapper)
    div(class=_style.loadingProgressbar)
div(class=_style.loadingText)
  span(class=_style.loadingTextPercent) 0
  | %
