//-
   _style:

div(class=_style.thanks,
  data-swiper-animation="fadeIn",
  data-duration="1s",
  data-delay=".3s") Thank you!
a(class=_style.backBtn,
  href="javascript:",
  data-swiper-animation="fadeInUp",
  data-duration=".7s",
  data-delay="1s") Back to Cover
